<a href="https://www.kaggle.com/code/cmosbattery/heart-attack-prediction-with-svm?scriptVersionId=217879411" target="_blank"><img align="left" alt="Kaggle" title="Open in Kaggle" src="https://kaggle.com/static/images/open-in-kaggle.svg"></a>

# Heart Attack Prediction with SVM: From EDA to Hyperparameter Tuning

This notebook demonstrates the process of predicting heart attack risk using a Support Vector Machine (SVM) model. The workflow includes Exploratory Data Analysis (EDA), outlier treatment, and various visualizations such as scatter plots and heatmaps. Feature engineering with mutual information is applied to identify relevant features, followed by model training with standard scaling in a pipeline. Hyperparameter tuning improves the model's accuracy from 78% to 90% on the testing set, showcasing effective techniques in data preprocessing and model optimization. 
The dataset used was collected from [Zheen hospital in Erbil, Iraq](https://data.mendeley.com/datasets/wmhctcrt5v/1) and was accessed via [Heart Attack Dataset on Kaggle](https://www.kaggle.com/datasets/sukhmandeepsinghbrar/heart-attack-dataset). The features in the dataset to determine the risk of heart attack include Age, Gender, Heart Rate, Systolic Blood Pressure, Diastolic Blood Pressure, Blood Sugar, CK-MB, and Troponin.

# 1. Setup

In this section, we import the necessary libraries to get started. Additional libraries, specifically for training the SVM model, will be imported as we progress through the process.

In [1]:
import numpy as np
import pandas as pd

import plotly.express as px
import plotly.graph_objs as go  
from plotly.offline import init_notebook_mode
import plotly.io as pio

init_notebook_mode(connected=True)
pio.renderers.default = "kaggle"

# 2. Preprocessing and EDA

In this section, we will explore the dataset by analyzing the measures of central tendency for each feature, checking for null values and duplicates, normalizing categorical data, and identifying potential outliers.

In [2]:
dataset = pd.read_csv('/kaggle/input/heart-attack-dataset/Medicaldataset.csv')
dataset

,Age,Gender,Heart rate,Systolic blood pressure,Diastolic blood pressure,Blood sugar,CK-MB,Troponin,Result
0,63,1,66,160,83,160.0,1.80,0.012,negative
1,20,1,94,98,46,296.0,6.75,1.060,positive
2,56,1,64,160,77,270.0,1.99,0.003,negative
3,66,1,70,120,55,270.0,13.87,0.122,positive
4,54,1,64,112,65,300.0,1.08,0.003,negative
...,...,...,...,...,...,...,...,...,...
1314,44,1,94,122,67,204.0,1.63,0.006,negative
1315,66,1,84,125,55,149.0,1.33,0.172,positive
1316,45,1,85,168,104,96.0,1.24,4.250,positive
1317,54,1,58,117,68,443.0,5.80,0.359,positive
1318,51,1,94,157,79,134.0,50.89,1.770,positive

In [3]:
dataset.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1319 entries, 0 to 1318
Data columns (total 9 columns):
 #   Column                    Non-Null Count  Dtype
---  ------                    --------------  -----
 0   Age                       1319 non-null   int64
 1   Gender                    1319 non-null   int64
 2   Heart rate                1319 non-null   int64
 3   Systolic blood pressure   1319 non-null   int64
 4   Diastolic blood pressure  1319 non-null   int64
 5   Blood sugar               1319 non-null   float64
 6   CK-MB                     1319 non-null   float64
 7   Troponin                  1319 non-null   float64
 8   Result                    1319 non-null   object
dtypes: float64(3), int64(5), object(1)
memory usage: 92.9+ KB

In [4]:
dataset.describe()

,Age,Gender,Heart rate,Systolic blood pressure,Diastolic blood pressure,Blood sugar,CK-MB,Troponin
count,1319.000000,1319.000000,1319.000000,1319.000000,1319.000000,1319.000000,1319.000000,1319.000000
mean,56.193328,0.659591,78.336619,127.170584,72.269143,146.634344,15.274306,0.360942
std,13.638173,0.474027,51.630270,26.122720,14.033924,74.923045,46.327083,1.154568
min,14.000000,0.000000,20.000000,42.000000,38.000000,35.000000,0.321000,0.001000
25%,47.000000,0.000000,64.000000,110.000000,62.000000,98.000000,1.655000,0.006000
50%,58.000000,1.000000,74.000000,124.000000,72.000000,116.000000,2.850000,0.014000
75%,65.000000,1.000000,85.000000,143.000000,81.000000,169.500000,5.805000,0.085500
max,103.000000,1.000000,1111.000000,223.000000,154.000000,541.000000,300.000000,10.300000

In [5]:
dataset.duplicated().unique()

array([False])

In [6]:
for column in dataset:
    print(f"Unique values of {column} column: \n{dataset[column].unique()} \n")

Unique values of Age column:
[ 63  20  56  66  54  52  38  61  49  65  45  64  47  86  37  60  48  30
  50  72  42  35  68  34  44  55  58  40  46  57  28  29  80  90  62  53
  75  19  77  71  43  67  51  59  36  70  78  69  73  41  82  32  25  26
  76  33  39  91  21  31  74  22  79  81  27  83  24  85  88 100  23  14
  87 103  84]

Unique values of Gender column:
[1 0]

Unique values of Heart rate column:
[  66   94   64   70   61   40   60   76   81   73   72   92  135   63
   65  125   62   58   93   96   95   97   91   87   77   80   82   83
   78   90   59   57   98 1111  102  103  105   74   85   75   71   68
   67   56   89   88   86   79  100   69   84  110  120  122  119  116
  114   55   53   54  117  112  108  134  111  101  113   51   52   99
  132   50  107  104   49   46   20   36   45]

Unique values of Systolic blood pressure column:
[160  98 120 112 179 214 154 166 150 199 122 118 114 100 107 109 151 110
 104 106 152 134 135 131 137 121 145 136 156 155 105  91 101 111 115 133
 153 125 130 127 140 141 128 123  94  95 117 124 119 138 157 202 175 144
 129  97 116 113 148 164 192 171 108 132  85  89  87  99  96  86  70  71
  78 126 170 169 149 168 191 193 167 165 146  93 180  42 220 147 142 102
 103 143 139 178  80  84  83  65 208  76  90  92 183  88 158 161 176 159
 198 204 200 162 177 223  67 209]

Unique values of Diastolic blood pressure column:
[ 83  46  77  55  65  58  68  82  81  95  90  99  67  70  66  86  78  60
  85  63  57  61  49  62  76  75  71  52  80  74  73  69  94  88  64  59
  93  54  56  44  72  89  51  50  79  47  92 103  97 110  84 104 100  42
 128 107  91  98  38  53  48  87 106  41  40 105 102 118 109  43  45  96
 154]

Unique values of Blood sugar column:
[160.  296.  270.  300.   87.  102.  135.  100.  198.   92.   97.  319.
 134.   96.  274.   89.  301.  227.  107.  269.  111.  101.   95.  279.
 166.  321.   98.  105.  136.   82.  117.  120.  208.  125.  103.   93.
  99.  228.  238.  133.  113.   91.  114.  149.  110.  251.  191.  334.
 109.  201.  167.   85.  112.  123.   86.  177.   90.  115.  392.  147.
 141.  222.  174.  162.  219.  189.  193.  181.  387.  121.  294.  116.
  88.  240.  132.  159.   81.  266.  142.  244.  130.  182.   94.   83.
 241.  318.   66.  156.  108.  322.  187.  122.  362.  180.  127.  131.
  84.  137.  242.  106.  197.  152.  169.  347.  104.  165.  126.  215.
  61.   80.  195.  150.  194.  233.  462.  422.  245.  168.  188.  129.
 200.  146.  140.  382.  217.  303.  154.  221.  186.  218.   68.  175.
  50.  203.  119.   77.  431.  202.  118.  184.  246.  157.  155.  230.
 225.  368.  408.  302.  500.  145.  541.  163.   76.   78.  415.  170.
 351.  204.  443.  407.  290.  144.  220.  381.  196.  190.  267.  256.
 257.  261.  234.  139.  235.  404.  425.  366.  210.  226.  207.  161.
 211.  258.  342.  276.  216.  124.  143.  249.  185.  336.  324.  263.
  60.  128.  346.  151.  232.  271.  283.  148.  293.  305.  338.  282.
  79.  354.  277.  153.  164.  328.  223.   74.  239.  231.  229.   67.
  62.  262.  246.7 138.  391.   35.  252.   75.  224.   69.  272.  314.
 247.  253.  434.   64.  297.   65.  406.  206.  171.  259.  265.  250.
 329.  285.  192.  331. ]

Unique values of CK-MB column:
[  1.8     6.75    1.99   13.87    1.08    1.83    0.71  300.      2.35
   2.84    2.39    3.43    1.42    2.57    1.49    1.11    0.606   2.89
   1.6    94.79    0.665  50.46   38.72    2.11    2.93    1.61    0.493
   1.31    4.58    6.48    0.929   1.37    6.78    4.24    1.3     0.609
  15.23    1.54   16.95    2.97    4.22    1.29    4.8     1.33    1.19
   0.78    2.28    4.39   19.47    2.41    3.18   36.24    2.21    2.19
   5.33    5.22    1.63    1.24    5.8     3.29    0.937   4.45    4.02
  18.15    0.865   3.3     0.718   3.45    7.65    4.3     0.994   1.53
  31.97    2.91    3.2     9.35   12.02    4.66    4.18    5.81    0.633
   2.69    1.06    4.82    2.13    2.85    6.91    1.98   19.5     0.468
 165.1     1.64    1.87    1.69    3.27    3.75    1.51    2.16    5.27
   1.96   40.99   96.08   51.9    74.45    8.84    6.28    2.2    49.8
   3.46    2.27    2.15    0.452   2.     35.55    3.25   21.61    2.26
  14.21    4.16    1.5     1.73    1.28    2.46    2.38    4.61    1.36
   2.58  264.4     0.687  20.71    7.02    2.42    4.37    4.76    3.84
   2.74    1.65    1.27    1.2     0.743  39.53    5.6     3.58    4.56
   3.26    2.37    3.36   20.21    4.43    3.32   16.08    3.09    6.14
   0.683   6.17    8.57    1.76    2.99  286.9     0.487   3.77    1.67
   2.82    0.998  25.74    0.596  16.62    1.81    7.32    2.96    4.55
   2.94    4.69    2.14    0.676   0.879   2.31   20.46   25.36    2.73
   3.7     3.24    1.46   98.48    3.86    2.61    4.      3.35    4.73
   4.29    2.7     1.16    6.27    5.16    3.85   14.07  101.9     3.
   1.77  134.7     2.78    0.722   2.9     2.98    2.49    3.23    2.04
   1.9     3.14   16.55    2.33   10.78   13.97    1.72    1.68    2.03
   1.82    2.05    2.72    7.64    0.813   5.86   43.83    0.821  15.67
   3.76   99.56    2.12    5.46    3.64    7.19    6.09    2.64    0.961
   1.22    1.93    3.94    8.23    5.37    1.41    2.5     7.01    2.09
   1.43   64.86    0.51    0.958   2.54    2.25    0.921   3.11   31.2
   1.45    2.22   23.97   95.34    7.97    2.24  104.3    13.92    6.4
   2.6     1.85    3.97   18.96    5.23    4.28   25.97   15.74    3.98
   2.68    5.43    3.08   12.3     0.353   8.87    6.13   10.44    0.979
   5.83   12.41   34.36    3.04   21.04    2.8     5.87    2.65    7.91
   5.34   11.32    3.93    2.51    1.47    0.942   8.15    6.11    0.583
   8.93    1.71   17.61    1.05    3.28    0.966   3.52   96.02    0.345
   7.44    0.607   2.92    5.39    5.36    1.26    2.18    0.755   4.71
  18.41    2.55   17.95   38.94    6.9     1.34    0.745  23.11   12.22
   1.78   17.3     3.48    4.23    9.9   185.1     2.71  207.5     1.74
   1.92    1.03  165.      4.11  266.3     6.3     1.94    7.52   40.6
   2.3    17.04    1.97   14.01   11.73    1.95    8.37    3.05    4.01
   1.58  142.6     9.06    5.41   22.91    6.25    5.11   70.89    3.68
   7.55    4.49    0.726   8.4     1.79    5.82    8.38    4.47    7.29
   4.25   27.06   12.39   11.24    6.66    7.66    1.25    5.73    3.49
   3.42    0.657  15.83    0.604   0.515   8.86   10.33    1.18   61.1
   4.36    0.529   1.35    4.74   13.98   36.53    2.67    1.21    5.51
   5.61    3.03    9.96    3.1    11.48   24.2   259.7     1.59    2.4
  56.39   33.87   12.2     1.4   147.4     1.75    4.62    1.44    1.66
   0.649   8.32    4.06    2.87    2.56    0.907   4.1     1.13   23.8
   8.34    3.21   58.29   13.73    5.02    4.2     1.86   33.48    8.95
   6.04    5.75    1.52    4.96    5.77   19.01   52.94    3.38  297.5
   3.73   15.69    7.73  254.4     1.02   10.04    1.09    2.86    4.15
   3.83    6.71    2.02   17.32   14.22    3.69    4.72    3.47    1.62
 217.5     4.93    2.53   12.26    3.95    3.61    3.17    8.8     3.87
   2.63   11.64    0.799   8.12    1.57    0.925   1.7     4.68    1.04
   4.03   15.88    5.68    1.07    4.6     6.01    3.4     5.15   37.69
   3.65    4.95   72.6    32.77    0.796   0.704   2.34   63.13    7.48
   0.88   31.4     1.39    1.01    8.08    0.457   7.26  177.9    42.15
  79.41    0.92   43.06    4.14    3.96  251.4     0.982   9.05    6.38
   2.79   89.61   17.63    5.1     0.674 190.7   144.9   201.7     2.59
   6.36   25.1     6.19   89.22    1.17   10.11    3.15    9.82   63.08
   9.09    1.48   44.18    3.53    4.26    4.21   19.98    1.1     5.49
   0.856   3.39    3.59    1.12    3.33    3.12    0.858  21.51   66.32
   0.516   2.1   107.3    25.63   11.94    2.36   28.41    5.85    2.83
   5.66    2.62   33.09    4.07   81.65    4.08   17.22  208.6     3.41
   3.5     3.13   11.07    6.61    4.4     4.78    0.785  15.32    3.78
   1.32   13.7   111.     10.18    6.63    1.88    4.79   60.68    0.898
  81.84  247.8     3.07    2.47    4.84    3.72    2.43   10.75    5.01
   0.321   3.63   71.77    4.34    1.15   31.85    9.63   11.87    4.67
   7.67    2.52    4.87   79.62    3.57   32.53    0.706   4.19    8.54
   7.61   69.32    4.41    4.57   11.45    7.3     6.57    0.68    7.03
  19.63    5.17    2.66    8.66   61.2    14.97    3.71    4.13    0.863
   7.47    6.74    4.35   16.1    12.89   10.26   18.43    8.47    8.49
  24.64   43.51   46.1    88.28    0.569   7.06   33.95    5.57   51.96
   2.17    0.681   0.826   0.89    9.71   10.42    1.      6.03    4.05
  99.62    0.728   2.88    5.65    4.17    0.684   6.67   19.26   31.06
  39.63   78.89    6.15    2.07    8.14   42.5    25.56   31.22    5.08
   8.69    3.81   27.31    9.51    8.21    5.58    4.64    0.746  11.4
  25.04    6.41    0.483  33.7     0.973   1.89    4.32    6.47   39.34
  27.57   12.57    5.78   14.72    7.05  261.     50.89 ]

Unique values of Troponin column:
[1.20e-02 1.06e+00 3.00e-03 1.22e-01 4.00e-03 2.37e+00 1.10e-02 6.00e-03
 1.30e-02 5.37e+00 1.70e-02 7.76e-01 2.00e-02 5.00e-03 4.91e-01 6.12e-01
 1.39e+00 7.00e-03 1.00e+01 8.30e+00 2.10e-02 1.15e+00 1.46e-01 8.00e-03
 2.60e-02 5.30e-02 9.00e-03 6.70e-02 4.00e-02 1.00e-02 3.10e-02 1.50e-02
 7.60e-02 5.20e-02 1.01e+00 8.90e-02 2.80e-02 7.03e-01 8.50e-02 2.19e-01
 8.64e-01 1.05e-01 4.80e-02 8.88e-01 1.60e-02 1.07e+00 2.20e-02 6.05e+00
 7.10e-02 1.03e-01 2.30e-02 3.80e-02 5.10e-02 2.90e-02 1.40e-02 2.23e+00
 1.55e+00 1.84e+00 6.40e-01 7.67e+00 6.10e-02 9.40e-02 2.70e-02 5.40e-02
 2.52e-01 1.79e+00 1.95e+00 3.92e-01 3.27e-01 4.60e-02 1.24e+00 1.78e-01
 1.90e-02 1.97e+00 6.81e-01 1.06e-01 1.46e+00 6.30e-02 1.23e+00 2.86e+00
 1.64e-01 1.86e+00 3.20e-02 2.40e-02 2.50e-02 1.42e-01 2.99e+00 1.00e-03
 1.71e-01 2.80e-01 9.70e-02 2.00e-03 3.39e+00 1.33e+00 4.26e-01 6.80e-02
 3.53e-01 8.16e-01 5.98e-01 7.70e-01 3.00e-02 3.40e-02 2.00e-01 2.92e-01
 7.00e-02 3.24e-01 1.18e+00 2.45e-01 1.12e-01 5.05e+00 2.67e-01 1.88e-01
 3.60e-02 1.79e-01 5.18e-01 4.25e-01 4.31e-01 2.73e+00 1.45e-01 3.31e-01
 4.01e-01 2.88e-01 1.80e-02 4.20e-02 2.96e+00 9.50e-02 2.62e-01 2.42e+00
 8.10e-02 1.17e-01 4.12e-01 6.93e-01 3.72e-01 3.50e-02 3.85e-01 1.25e+00
 5.54e-01 1.83e+00 1.35e+00 9.29e-01 9.80e-02 3.90e-02 1.96e+00 2.63e+00
 4.92e-01 6.20e-02 9.88e-01 1.77e-01 9.60e-02 3.28e+00 1.87e-01 2.03e-01
 1.62e+00 5.31e+00 3.23e+00 5.80e-02 4.40e-02 2.71e-01 4.32e+00 1.21e+00
 4.54e-01 1.63e+00 2.48e+00 5.48e+00 1.38e-01 4.52e-01 9.11e+00 9.80e-01
 2.53e+00 6.28e-01 1.01e-01 7.58e-01 2.39e+00 2.34e+00 6.97e-01 8.53e-01
 9.92e-01 4.57e-01 6.27e-01 1.96e-01 1.64e+00 1.19e-01 6.43e-01 1.76e+00
 3.70e-02 1.28e+00 6.53e-01 2.47e+00 2.35e+00 4.30e-02 6.62e-01 1.92e-01
 1.00e-01 2.87e+00 1.54e-01 2.81e+00 1.91e-01 8.66e-01 1.32e+00 1.65e-01
 1.30e+00 1.36e+00 2.09e-01 3.85e+00 8.47e-01 5.23e-01 1.48e+00 9.90e-02
 1.47e+00 4.10e-02 1.50e+00 1.29e+00 9.59e-01 1.30e-01 4.90e-02 1.36e-01
 2.18e-01 9.37e-01 3.21e+00 1.31e+00 8.17e-01 2.32e+00 1.17e+00 7.50e-02
 1.43e+00 8.20e-02 3.14e-01 3.83e+00 1.44e+00 5.00e-02 2.57e+00 8.51e-01
 2.12e+00 1.60e+00 2.98e-01 9.10e-01 1.14e-01 4.07e-01 9.99e-01 8.70e-02
 4.85e-01 6.90e-02 1.85e+00 2.06e+00 7.01e-01 7.06e-01 4.06e-01 7.70e-02
 1.58e+00 5.87e+00 1.09e-01 6.10e-01 8.63e-01 7.22e-01 3.25e-01 1.38e+00
 1.40e+00 6.49e-01 3.57e-01 2.43e+00 3.54e-01 6.50e-02 2.08e-01 1.29e-01
 1.41e-01 4.02e-01 9.12e-01 1.93e-01 4.50e-02 1.10e+00 2.20e+00 1.04e-01
 1.45e+00 4.84e-01 7.40e-01 5.40e-01 8.30e-01 8.40e-01 1.75e+00 8.80e-01
 9.40e-01 1.16e-01 2.20e-01 2.80e+00 7.60e-01 4.05e-01 2.30e-01 2.24e-01
 6.01e+00 2.99e-01 6.09e-01 7.90e-01 7.10e-01 6.02e-01 1.52e-01 8.10e-01
 1.03e+01 8.80e-02 5.90e-02 6.00e-02 5.53e-01 7.40e-02 5.49e-01 7.95e-01
 1.51e+00 1.47e-01 2.29e+00 2.50e+00 8.30e-02 8.60e-02 3.97e-01 9.98e-01
 1.26e+00 7.80e-02 5.07e-01 3.48e-01 5.40e+00 2.16e+00 3.77e+00 5.11e+00
 9.30e-01 8.00e-02 7.00e-01 1.28e-01 1.81e+00 1.94e+00 5.70e-02 6.35e-01
 9.16e-01 6.60e-02 5.50e-02 2.79e-01 3.34e+00 9.23e-01 9.20e-02 4.34e-01
 2.95e-01 4.61e-01 7.20e-02 1.97e-01 1.10e-01 1.53e+00 1.04e+00 5.44e-01
 2.55e-01 1.37e+00 4.50e-01 2.63e-01 1.72e-01 4.25e+00 3.59e-01 1.77e+00]

Unique values of Result column:
['negative' 'positive']

## Treating an outlier in 'Heart rate' column
According to the data, someone was aged 1111 years old. We are going to have that changed to the median value of the heart rate.

In [7]:
# Compute the median heart rate
median_heart_rate = dataset["Heart rate"].median()

# Use .loc[] to explicitly modify the column in the original DataFrame
dataset.loc[dataset["Heart rate"] == 1111, "Heart rate"] = median_heart_rate

dataset['Heart rate'].unique()

array([ 66,  94,  64,  70,  61,  40,  60,  76,  81,  73,  72,  92, 135,
        63,  65, 125,  62,  58,  93,  96,  95,  97,  91,  87,  77,  80,
        82,  83,  78,  90,  59,  57,  98,  74, 102, 103, 105,  85,  75,
        71,  68,  67,  56,  89,  88,  86,  79, 100,  69,  84, 110, 120,
       122, 119, 116, 114,  55,  53,  54, 117, 112, 108, 134, 111, 101,
       113,  51,  52,  99, 132,  50, 107, 104,  49,  46,  20,  36,  45])

## Normalizing the Target Variable
Normalizing the categorgorical data is necessary for our machine learning.

In [8]:
svm_dataset = dataset.copy()
svm_dataset['Result'], _ = svm_dataset['Result'].factorize()

svm_dataset

,Age,Gender,Heart rate,Systolic blood pressure,Diastolic blood pressure,Blood sugar,CK-MB,Troponin,Result
0,63,1,66,160,83,160.0,1.80,0.012,0
1,20,1,94,98,46,296.0,6.75,1.060,1
2,56,1,64,160,77,270.0,1.99,0.003,0
3,66,1,70,120,55,270.0,13.87,0.122,1
4,54,1,64,112,65,300.0,1.08,0.003,0
...,...,...,...,...,...,...,...,...,...
1314,44,1,94,122,67,204.0,1.63,0.006,0
1315,66,1,84,125,55,149.0,1.33,0.172,1
1316,45,1,85,168,104,96.0,1.24,4.250,1
1317,54,1,58,117,68,443.0,5.80,0.359,1
1318,51,1,94,157,79,134.0,50.89,1.770,1

# 3. Data Visualization

In this section, we will perform a series of data visualizations showcasing the features and their relationships with one another. We will also conduct Mutual Information feature selection to identify which features have the most influence on determining the outcome of heart attack risk.

## A. Age Group vs Result

In [9]:
def categorize_age(age):
    if age <= 18:
        return "Minor"
    elif age <= 25:
        return "Young Adult"
    elif age <= 40:
        return "Adult"
    elif age <= 60:
        return "Middle-aged"
    else:
        return "Senior"

dataset["Age Group"] = dataset['Age'].apply(categorize_age)

age_group = dataset.groupby(["Age Group", "Result"]).size().reset_index(name="Count")

custom_order = ["Senior", "Middle-aged", "Adult", "Young Adult", "Minor"]
age_group["Age Group"] = pd.Categorical(age_group["Age Group"], categories=custom_order, ordered=True)

age_group = age_group.sort_values("Age Group")

age_group

     Age Group    Result  Count
5       Senior  negative    148
6       Senior  positive    366
2  Middle-aged  negative    256
3  Middle-aged  positive    373
0        Adult  negative     91
1        Adult  positive     63
7  Young Adult  negative     13
8  Young Adult  positive      8
4        Minor  negative      1

In [32]:
age_group_fig = px.bar(
    age_group,
    x="Age Group",
    y="Count",
    color="Result",
    title="Distribution of Positive and Negative Heart Attack Cases by Age Group",
    barmode="group"
)

age_group_fig.show(renderer='iframe_connected')

## B. Age Group and Gender

In [11]:
def categorize_gender(gender):
    if gender == 1:
        return "Male"
    elif gender == 0:
        return "Female"

age_group_gender = dataset.copy()
age_group_gender["Gender"] = age_group_gender["Gender"].apply(categorize_gender)
age_group_gender = age_group_gender[["Age Group", "Gender", "Result"]]
age_group_gender_ct = pd.crosstab(
    [age_group_gender["Age Group"], 
    age_group_gender["Gender"]],
    age_group_gender["Result"]
)

age_group_gender_ct

Result              negative  positive
Age Group   Gender
Adult       Female        34        14
            Male          57        49
Middle-aged Female        93       109
            Male         163       264
Minor       Female         1         0
Senior      Female        70       122
            Male          78       244
Young Adult Female         4         2
            Male           9         6

In [33]:
age_group_gender_fig = px.sunburst(
    age_group_gender,
    path=["Age Group", "Gender", "Result"],
    title="Sunburst Chart of Age Group, Gender, and Result"
)

age_group_gender_fig.show(renderer='iframe_connected')

## C. Age and Blood Sugar

In [35]:
age_sugar_systolic = dataset[["Age", "Blood sugar", "Result"]]
age_sugar_systolic

      Age  Blood sugar    Result
0      63        160.0  negative
1      20        296.0  positive
2      56        270.0  negative
3      66        270.0  positive
4      54        300.0  negative
...   ...          ...       ...
1314   44        204.0  negative
1315   66        149.0  positive
1316   45         96.0  positive
1317   54        443.0  positive
1318   51        134.0  positive

[1319 rows x 3 columns]

In [36]:
age_sugar_systolic_fig = px.scatter(
    age_sugar_systolic, 
    x="Age", 
    y="Blood sugar", 
    color="Result",
    title="Scatter Plot of Age and Blood Sugar"
)
age_sugar_systolic_fig.show(renderer='iframe_connected')

## D. Systolic and Diastolic Blood Pressure

In [14]:
systolic_diastolic = dataset[["Systolic blood pressure", "Diastolic blood pressure", "Result"]]
systolic_diastolic

      Systolic blood pressure  Diastolic blood pressure    Result
0                         160                        83  negative
1                          98                        46  positive
2                         160                        77  negative
3                         120                        55  positive
4                         112                        65  negative
...                       ...                       ...       ...
1314                      122                        67  negative
1315                      125                        55  positive
1316                      168                       104  positive
1317                      117                        68  positive
1318                      157                        79  positive

[1319 rows x 3 columns]

In [37]:
systolic_diastolic_fig = px.density_heatmap(
    systolic_diastolic, 
    x="Systolic blood pressure", 
    y="Diastolic blood pressure",
    facet_col="Result",
    title="Density Heatmap of Systolic and Diastolic Blood Pressure"
)

systolic_diastolic_fig.show(renderer='iframe_connected')

## E. Systolic Blood Pressure and Blood sugar and Troponin

In [16]:
systolic_sugar_troponin = dataset[["Systolic blood pressure", "Blood sugar", "Troponin", "Result"]]
systolic_sugar_troponin

      Systolic blood pressure  Blood sugar  Troponin    Result
0                         160        160.0     0.012  negative
1                          98        296.0     1.060  positive
2                         160        270.0     0.003  negative
3                         120        270.0     0.122  positive
4                         112        300.0     0.003  negative
...                       ...          ...       ...       ...
1314                      122        204.0     0.006  negative
1315                      125        149.0     0.172  positive
1316                      168         96.0     4.250  positive
1317                      117        443.0     0.359  positive
1318                      157        134.0     1.770  positive

[1319 rows x 4 columns]

In [31]:
systolic_sugar_troponin_fig = px.scatter_3d(
    systolic_sugar_troponin,
    x="Systolic blood pressure",
    y="Blood sugar",
    z="Troponin",
    color="Result",
    title="3-Dimensional Scatter Plot of Troponin, Blood Sugar and Systolic Blood Pressure"
)

systolic_sugar_troponin_fig.update_traces(marker=dict(size=2))
systolic_sugar_troponin_fig.show(renderer='iframe_connected')

## F. Troponin and CK-MB

In [18]:
troponin_ckmb = dataset[["Troponin", "CK-MB", "Result"]]
troponin_ckmb

      Troponin  CK-MB    Result
0        0.012   1.80  negative
1        1.060   6.75  positive
2        0.003   1.99  negative
3        0.122  13.87  positive
4        0.003   1.08  negative
...        ...    ...       ...
1314     0.006   1.63  negative
1315     0.172   1.33  positive
1316     4.250   1.24  positive
1317     0.359   5.80  positive
1318     1.770  50.89  positive

[1319 rows x 3 columns]

In [29]:
troponin_ckmb_fig = px.scatter(
    troponin_ckmb, 
    x="Troponin", 
    y="CK-MB", 
    color="Result",
    title="Scatter Plot of Troponin and CK-MB"
)
troponin_ckmb_fig.show(renderer='iframe_connected')

## G. Feature Engineering

Mutual information allow us to identify which features have significant influence in determining the heart attack cases.

In [20]:
from sklearn.feature_selection import mutual_info_classif

predict_vars = svm_dataset.copy()
target_var = predict_vars.pop("Result")

mi_scores = mutual_info_classif(predict_vars, target_var)
mi_scores = pd.Series(mi_scores, name="MI Scores", index=predict_vars.columns)
mi_scores = mi_scores.sort_values(ascending=False)

mi_scores = mi_scores.reset_index()
mi_scores.columns = ['Feature', 'MI Score']
mi_scores

                    Feature  MI Score
0                  Troponin  0.364766
1                     CK-MB  0.133912
2                       Age  0.025114
3  Diastolic blood pressure  0.020880
4                    Gender  0.013854
5                Heart rate  0.004833
6   Systolic blood pressure  0.001026
7               Blood sugar  0.000000

In [30]:
mi_scores_fig = px.bar(
    mi_scores, 
    x="MI Score", 
    y="Feature",
    title="MI Score of the Features"
)
mi_scores_fig.show(renderer='iframe_connected')

# 4. Training The Baseline Model

In this section, we will train the SVM for predictive modeling by building a pipeline with scaling. We will first build a baseline SVM model to evaluate its performance on the dataset and analyze for potential cases of overfitting or underfitting.

## A. Data Splitting

In [ ]:
from sklearn.model_selection import train_test_split

X_train, X_test, y_train, y_test = train_test_split(predict_vars, target_var, test_size=0.2, random_state=69)

print("X_train shape:", X_train.shape)
print("X_test shape:", X_test.shape)
print("y_train shape:", y_train.shape)
print("y_test shape:", y_test.shape)

## B. Building the Pipeline with Scaling

In [ ]:
from sklearn.svm import SVC
from sklearn.preprocessing import StandardScaler
from sklearn.pipeline import Pipeline

svm_pipeline = Pipeline([
    ('scaler', StandardScaler()),
    ('svm', SVC())
])

## C. Training the Model

In [ ]:
svm_pipeline.fit(X_train, y_train)

## D. Evaluation of the Baseline Model

In [ ]:
import plotly.graph_objects as go
from plotly.subplots import make_subplots

# Accuracy
accuracy_baseline_train = svm_pipeline.score(X_train, y_train)
accuracy_baseline_test = svm_pipeline.score(X_test, y_test)

def present_accuracies(accuracy_train, accuracy_test, model):
    
    present_accuracies_fig = make_subplots(rows=1, cols=2, specs=[[{'type': 'domain'}, {'type': 'domain'}]],
                        subplot_titles=['Training Accuracy', 'Testing Accuracy'])
    
    # Training Accuracy
    present_accuracies_fig.add_trace(go.Pie(
        labels=["Correct Predictions", "Incorrect Predictions"],
        values=[accuracy_train, 1 - accuracy_train],
        name="Training Accuracy",
    ), row=1, col=1)
    
    # Testing Accuracy
    present_accuracies_fig.add_trace(go.Pie(
        labels=["Correct Predictions", "Incorrect Predictions"],
        values=[accuracy_test, 1 - accuracy_test],
        name="Testing Accuracy",
    ), row=1, col=2)
    
    present_accuracies_fig.update_layout(
        title_text="Training vs Testing Accuracy of the " + model,
        title_x=0.5
    )
    
    present_accuracies_fig.show(renderer='iframe')

present_accuracies(accuracy_baseline_train, accuracy_baseline_test, "Baseline Model")

In [ ]:
from sklearn.metrics import classification_report

# Classification report
y_pred_baseline = svm_pipeline.predict(X_test)

classif_report = classification_report(y_test, y_pred_baseline)

print("Classification Report for the Testing Dataset: \n")
print(classif_report)

In [ ]:
from sklearn.metrics import confusion_matrix

# Confusion Matrix
conf_matrix_baseline = confusion_matrix(y_test, y_pred_baseline)

def present_conf(conf_matrix):
    conf_matrix_df = pd.DataFrame(
        conf_matrix, 
        index=["True Negative", "True Positive"], 
        columns=["Predicted Negative", "Predicted Positive"]
    )
    
    conf_matrix_fig = px.imshow(
        conf_matrix_df, 
        text_auto=True, 
        title="Confusion Matrix of the Baseline Model for the Testing Dataset"
    )
    
    conf_matrix_fig.show(renderer='iframe')

present_conf(conf_matrix_baseline)

# 5. Hyperparameter Tuning Using GridSearchCV

In this section, we will perform hyperparameter tuning with GridSearchCV to find the optimal hyperparameters that achieve the highest accuracy for the model.
## A. Setting up the Hyperparameters

In [ ]:
param_grid = {
    'svm__C': [0.1, 1, 10, 100],  # Regularization parameter
    'svm__gamma': [1, 0.1, 0.01, 0.001],  # Kernel coefficient
    'svm__kernel': ['rbf', 'linear', 'poly', 'sigmoid']  # Different kernel types
}

## B. Performing the Tuning

Finding the optimized parameter using GridSearchCV with cross validation of 5 folds

In [ ]:
from sklearn.model_selection import GridSearchCV

# Perform GridSearchCV
grid_search = GridSearchCV(svm_pipeline, param_grid, cv=5, scoring='accuracy')
grid_search.fit(X_train, y_train)

## C. Evaluation of Hyperparameters

In [ ]:
# Results of GridSearchCV
results = pd.DataFrame(grid_search.cv_results_)

results['params_str'] = results['params'].apply(lambda x: str(x))

top_results = results[['params_str', 'mean_test_score']].sort_values(by='mean_test_score', ascending=False).head(5)

top_results_fig = px.bar(
    top_results, 
    x='mean_test_score', 
    y='params_str', 
    labels={'mean_test_score': 'Accuracy', 'params_str': 'Hyperparameter Combination'},
    title='Top 5 Hyperparameter Combinations and their Accuracy',
    category_orders={'params_str': top_results['params_str'].tolist()}
) 

top_results_fig.show(renderer='iframe')

In [ ]:
best_score = grid_search.best_score_

best_params = str(grid_search.best_params_)

best_params_fig = px.pie(
    values=[best_score, 1 - best_score], 
    names=["Correct Predictions", "Incorrect Predictions"],
    title="Highest Accuracy Achieved by the Optimized Hyperparameters" 
        + "<br>" + best_params
)

best_params_fig.show(renderer='iframe')

We found that the model with the highest training accuracy has hyperparameters of `C = 100` for regularization,`gamma = 1` for the kernel coefficient, and `poly` for the kernel type.

# 6. Evaluation of the Optimized Model

In this section, we will evaluate the performance of the optimized model by analyzing its training and testing accuracies, as well as precision, recall, F1-score, and the confusion matrix.

In [ ]:
from sklearn.metrics import accuracy_score

# Accuracy
y_pred_optimized = grid_search.best_estimator_.predict(X_test)

accuracy_optimized_train = grid_search.best_score_
accuracy_optimized_test = accuracy_score(y_test, y_pred_optimized)

present_accuracies(accuracy_optimized_train, accuracy_optimized_test, "Optimized Model")

In [ ]:
# Classification Report
print("Classification Report of the Optimized Model for the Testing Dataset: \n")
print(classification_report(y_test, y_pred_optimized))

In [ ]:
conf_matrix_optimized = confusion_matrix(y_test, y_pred_optimized)

present_conf(conf_matrix_optimized)

# 7. Exporting the Model for Web Application Use

In this section, we will be exporting the optimized model for web application use. We will convert it to ONNX model wherein we can run the model in JavaScript.

In [ ]:
# Installing the skl2onnx to convert the sklearn models to onnx models
!pip install skl2onnx

In [ ]:
import onnx
from skl2onnx import convert_sklearn
from skl2onnx.common.data_types import FloatTensorType

# Convert SVM model to ONNX format
onnx_model = convert_sklearn(
    grid_search.best_estimator_, 
    initial_types=[('input', FloatTensorType([None, len(X_train.columns)]))]
)

# Save ONNX model
onnx.save_model(onnx_model, 'svm_model.onnx')

# 8. Conclusion

In this project, we followed a comprehensive workflow to predict heart attack risk using a Support Vector Machine (SVM) model. We started with Exploratory Data Analysis (EDA), identifying outliers and performing data visualizations such as scatter plots and heatmaps to understand the dataset. After engineering relevant features using mutual information, we trained the model with standard scaling and optimized it through hyperparameter tuning with GridSearchCV, increasing accuracy from 78% to 90%. Finally, we exported the optimized model in the ONNX.js format, enabling seamless deployment and real-time predictions directly within a web application without the need for a backend server.